output
pelican.pid
srv.pid
pelicanconf.pyc
fabfile.py
cache
cache/*
output.tar.gz
.vagrant
.vagrant/*
.vagrant/machines/*
.vagrant/machines/default/*
.vagrant/machines/default/virtualbox/*
tmp
tmp/*
.DS_Store
Cheffile.lock
__pycache__/
*.py[cod]
# C extensions
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.log
docs/_build/
target/
